<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csusb.internationalstudies" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Main Page of International Advising -->
        <activity
            android:name=".secondAdvise"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_second_advise"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Activity for About CISP and Staff Page -->
        <activity
            android:name=".aboutCisp"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_about_cisp"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Activity for Organizational Chart PDF -->
        <activity
            android:name=".cispOrganizationalChart"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_cisp_organizational_chart"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".cispStaff"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_cisp_staff"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".otherResources"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_other_resources"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".healthInsurance"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_health_insurance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".campusMap"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_campus_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".housing"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_housing"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".housingOnCampusWebSite"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_housing_on_campus_web_site"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".exchangeProgram"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_exchange_program"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".programsAndCourses"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_programs_and_sources"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Deadline"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_deadline"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StudyAbroad"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_study_abroad"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".studyAbroadProgramsList"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_study_abroad_programs_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".studyAbroadHorizonApplication"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_study_abroad_horizon_application"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewsAndWeather"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_activity_news_and_weather"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".admissionsInfo"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_admissions_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".admissionsUndergrad"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_admissions_undergrad"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".admissionsGrad"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_admissions_grad"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".admissionsMBA"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_admissions_mb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registrationPage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_registration_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".orientation"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".csuMentorWebSite"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_csu_mentor_web_site"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".eventsPage"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_events_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StudyAbroadGilmanScholarship"
            android:label="@string/title_activity_study_abroad_gilman_scholarship"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
