<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csusb.internationalstudies" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Main Page of International Advising -->
        <activity
            android:name=".secondAdvise"
            android:label="@string/title_activity_second_advise" >
        </activity>
        <!-- Activity for About CISP and Staff Page -->
        <activity
            android:name=".aboutCisp"
            android:label="@string/title_activity_about_cisp" >
        </activity>
        <!-- Activity for Organizational Chart PDF -->
        <activity
            android:name=".cispOrganizationalChart"
            android:label="@string/title_activity_cisp_organizational_chart" >
        </activity>
        <activity
            android:name=".cispStaff"
            android:label="@string/title_activity_cisp_staff" >
        </activity>
        <activity
            android:name=".otherResources"
            android:label="@string/title_activity_other_resources" >
        </activity>
        <activity
            android:name=".healthInsurance"
            android:label="@string/title_activity_health_insurance" >
        </activity>
        <activity
            android:name=".campusMap"
            android:label="@string/title_activity_campus_map" >
        </activity>
        <activity
            android:name=".housing"
            android:label="@string/title_activity_housing" >
        </activity>
        <activity
            android:name=".housingOnCampusWebSite"
            android:label="@string/title_activity_housing_on_campus_web_site" >
        </activity>
        <activity
            android:name=".exchangeProgram"
            android:label="@string/title_activity_exchange_program" >
        </activity>
    </application>

</manifest>
